<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Suite">
    <test name ="Testing rencredit.ru"  annotations="JDK">
        <classes>
            <class name = "ru.appline.rencredit.RenCreditTest">
            </class>
        </classes>
    </test>
</suite>